.main_wrap_detail {
    .round_shape_block {
  border-radius: 0 70px 0 0;
        background: linear-gradient(356deg, rgb(0, 42, 105) 0%, rgb(182, 2, 25) 65%, rgb(0, 42, 105) 100%);

        .inner_round_shape_block {
            background: linear-gradient(180deg, rgba(192, 0, 21, 1) 41%, rgba(0, 42, 105, 1) 84%);
            border-radius: 40% 70px 170px 0;
            .user_logo_sec {
                margin-top: 14px;
                top: -36px;
         
            }

            .content_wrap {
                padding-top: 50px;
                padding-bottom: 72px;

                .text_content {
                     max-width: 320px;               
                }

                .bottom_line {
                     max-width: 145px;
                     margin-top: 10px;
                }

                .edit_btn {
                    ion-button {
                        --background: #C00015;
                        --border-radius: 38px;
                    }
                }
            }

        }
    }
}