<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngClass]="isDarkMode ? 'dark' : 'light'">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">details</ion-title>
    </ion-toolbar>
  </ion-header>



  <button class="p-2 bg-blue-500 text-white rounded-full" (click)="toggleMode()">
    Toggle Theme
  </button>

<!-- //tab button -->
  <ul class="statementTabWrap text-sm  m-10 lg:m-40 font-medium text-center rounded-3xl shadow flex">
    <li class="w-full" [ngClass]="{'activeTab': activeLink === 'Mini Statement'}">
      <a href="#" (click)="setActiveLink('Mini Statement')" class="btnTab inline-block w-full p-4 rounded-3xl  focus:outline-none" aria-current="page">Mini Statement</a>
    </li>
    <li class="w-full" [ngClass]="{'activeTab': activeLink === 'Detail Statement'}">
      <a href="#" (click)="setActiveLink('Detail Statement')" class="btnTab inline-block w-full p-4  rounded-3xl focus:outline-none">Detail Statement</a>
    </li>
  </ul>
  


  <div class="flex justify-end custom_pills_wrap">
    <button class="custom_pills text-xs text-gray-700 bg-white border border-solid border-gray-300 rounded-full mr-1 focus:outline-none dark:bg-white dark:text-gray-700 dark:border-gray-300 dark:hover:bg-gray-300">Credit</button>
    <button class="custom_pills text-xs text-gray-700 bg-white border border-solid border-gray-300 rounded-full mr-1 focus:outline-none dark:bg-white dark:text-gray-700 dark:border-gray-300 dark:hover:bg-gray-300">Debit</button>
    <button class="custom_pills text-xs text-gray-700 bg-white border border-solid border-gray-300 rounded-full mr-1 focus:outline-none dark:bg-white dark:text-gray-700 dark:border-gray-300 dark:hover:bg-gray-300">All</button>
  </div>
  
  
<div class="main_wrap_detail">
  <div class="round_shape_block">
    <div class="inner_round_shape_block">
    
      <div class="user_logo_sec">
        <div class="logo_img"><ion-icon name="person-outline"></ion-icon></div>
  
      </div>

      <div class="content_wrap">
        <div class="text_content userName">Hi, Sumthana</div>
        <hr class="bottom_line">
        <div class="text_content">
          <div class="headTitle">Address</div>
          <div class="infoText">SAF Small Finance Bank Limited, Building No. VII/83/8, ESAF Bhavan, Mannuthy, Thrissur - Palakkad National Highway, Thrissur - 680 651, Kerala.</div>
        </div>
        <hr class="bottom_line">
        <div class="text_content">
          <div class="headTitle">Phone</div>
          <div class="infoText">+91 98567 58714</div>
        </div>
        <hr class="bottom_line">
        <div class="text_content">
          <div class="headTitle">E-mail</div>
          <div class="infoText">customercare esafbank.com</div>
        </div>
        <hr class="bottom_line">
        <div class="text_content">
          <div class="headTitle">City</div>
          <div class="infoText">Thrissur</div>
        </div>
        <hr class="bottom_line">
        <div class="text_content">
          <div class="headTitle">State</div>
          <div class="infoText">Kerala</div>
        </div>
        <hr class="bottom_line">
        <div class="text_content">
          <div class="headTitle">Country</div>
          <div class="infoText">India</div>
        </div>
        <hr class="bottom_line">
        <div class="text_content">
          <div class="headTitle">Zip</div>
          <div class="infoText">680 001</div>
        </div>
     
        <div class="edit_btn">
          <ion-button>
            <ion-icon slot="start" name="create"></ion-icon>
           Edit
          </ion-button>
        </div>
       
      </div>

      
    </div>
  </div>
</div>



</ion-content>
