.main_wrap_detail {
    .round_shape_block {
        border-radius: 0 70px 0 0;
        background: linear-gradient(356deg, rgb(0, 42, 105) 0%, rgb(182, 2, 25) 65%, rgb(0, 42, 105) 100%);

        .inner_round_shape_block {
            background: linear-gradient(180deg, rgba(192, 0, 21, 1) 41%, rgba(0, 42, 105, 1) 84%);
            border-radius: 40% 70px 170px 0;

            .user_logo_sec {
                margin-top: 14px;
                top: -36px;

            }

            .content_wrap {
                padding-top: 50px;
                padding-bottom: 72px;

                .text_content {
                    max-width: 320px;
                }

                .bottom_line {
                    max-width: 145px;
                    margin-top: 10px;
                }

                .edit_btn {
                    ion-button {
                        --background: #C00015;
                        --border-radius: 38px;
                    }
                }
            }

        }
    }
}


.wrap_submit_form {
    .gradeBlock {
        width: 35%;
        height: 23px;
        top: -10px;
    }
    .left_gradeint {
        background: linear-gradient(91deg, #002A69, #B80218, #C00015);
    }
    .right_gradeint {
        background: linear-gradient(270deg, #002A69, #B80218, #C00015);
        right: 0;
    }
    .user_logo_sec {
        .logo_img {
            transform: translate(-50%, -50%);
            top: 0;
            left: 50%;
            .person_edit {
                border: 2px solid #D7D7D7;
                border-radius: 50%;
            }
            .camera_edit {
                bottom: 10%;
                right: -10%;
                border-radius: 50%;
            }
        }
    }

    .all_content_wrap {
        margin: 0 54px;
        .bottom_line {
            margin-bottom: 18px;
            margin-top: 18px;
        }
    }
    .submit_btn {
        ion-button {
            --background: #002A69;
            --border-radius: 20px;
            font-size: 16px;
            color: #ffffffc7;
            text-transform: capitalize;
        }
    }
}