 <div class="card_main_log_wrap">

  <div class="card_main_log"  [ngClass]="{ 'Dash_active1': title === 'Dashboard1', 'Dash_active2': title === 'Dashboard2',
  'Dash_active3': title === 'Dashboard3'}">
    <div class="card_view" *ngFor="let block of cardBlock; let i = index" >
      <div class="img_block">
        <img [src]="block.imageUrl" alt="Image {{i + 1}}">
      </div>
      <div class="bottom_text">{{ block.text }}</div>
    </div>

  </div>
<!-- <div class="arrow_buttonCla">
  <ion-icon name="chevron-down-circle-outline" *ngIf="isChevronDownVisible" (click)="toggleClass()"></ion-icon>
  <ion-icon name="chevron-up-circle-outline" *ngIf="!isChevronDownVisible" (click)="toggleClass()"></ion-icon>

</div> -->

  <!-- <p >
    {{ isChevronDownVisible ? 'Show Dashboard1' : 'Show Dashboard2' }}
  </p> -->
  <div class="arrow_buttonCla">
    <ion-icon name="chevron-down-circle-outline" *ngIf="isChevronDownVisible" (click)="toggleChevron(true)"></ion-icon>
    <ion-icon name="chevron-up-circle-outline" *ngIf="!isChevronDownVisible" (click)="toggleChevron(false)"></ion-icon>
  </div>



   <!-- <p class="upDown" (click)="toggleClass()">upshow</p> -->
</div> 

