/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
/*
 * Optional CSS
 * -----------------------------------
 */



@tailwind base;
@tailwind components;
@tailwind utilities;

/* This sets a different background and item background in light mode on ios */
.ios body {
  --ion-background-color: #f2f2f6;
  --ion-toolbar-background: var(--ion-background-color);
  --ion-item-background: #fff;
}

/* This sets a different background and item background in light mode on md */
.md body {
  --ion-background-color: #f9f9f9;
  --ion-toolbar-background: #77b1f3;
  --ion-item-background: #fff;
  --ion-toolbar-border-color:  #77b1f3;
}

/* This is added for the flashing that happens when toggling between themes */
ion-item {
  --transition: none;
}


// :root {
//   .toolbar-title{
//     display: flex;
//          justify-content: center;
//          align-items: center;}

// app-header{

      
//         .toolbar-title{
//            display: flex;
//                 justify-content: center;
//                 align-items: center;}
        
//                 ion-title::class(toolbar-title) {
//                   color: blue;
//                   opacity: 1;
//                   display: flex;
//                   justify-content: center;
//                   align-items: center;
//                 }
// }

// }



.card_dash_wrap {
  position: relative;
  app-cards {
    // position: relative;
    // bottom: 0;
    // z-index: 999;
    transform: translate(-50%, 100%);
    transition: transform 2s, position 2s;
    animation-name: exampleCardView;
    animation-duration: 1.3s;
      &.addClass1 {
          // position: relative;
          // top: -38vh;
          // z-index: 999;
          // transition: top 1s;
          //         opacity: 1;


          position: absolute;
          bottom: 0;
          left: 50%;
          z-index: 999;
          transform: translate(-50%, 5%);
          transition: transform 2s, position 2s;
          width: 100%;
          animation-name: exampleCardView;
          animation-duration: 1.3s;
    
          .card_main_log_wrap{
            padding: 0 12px;
            margin-top: 0;
              .card_main_log{
                //height: 500px;   //change as per reqired
          
              }
          }
      }
      // .card_main_log_wrap{
      //   padding: 0 12px;
      //   margin-top: 0;
      //     .card_main_log{
      //     //  height: 500px;   //change as per reqired
      
      //     }
      // }
  }
}







@keyframes exampleCardView {
  from {opacity: 0.3;}
  to {opacity: 1;}
}






/* color Styles */
:root {
  --red: #FE0000;
  --green: #0D9F1A;
  --black: black;
  --white: #FFFFFF;
  --yellow: yellow;
  --pink: pink;
  --lightGray: #A6A4A4;
  --darkBlue: #002A69; 
--gray: #4D4D4D;
--graySec : #585858;
--grayThird :#646464;
--grayFourth : #454545;

--btnActive: linear-gradient(271deg, #131313, #4d4d4d);
}

//For LightMode
.light {
  --bg-colorFirst : var(--white);
  --bg-colorSec : var(--white);
  --text-colorFirst : var(--gray);
  --text-colorSecond : var(--white);
  --textcolorThird : var(--lightGray);
  --text-corlorBlue: var(--darkBlue);
  //use for tab button
  --tabBg:var(--lightGray);
  --tabBtn: var(--darkBlue);
}

//For darkMode
.dark {
  --bg-colorFirst : var(--graySec);
  --bg-colorSec : var(--gray);
  --text-colorFirst : var(--white);
  --text-colorSecond : var(--white);
  --textcolorThird : var(--white);
  --text-corlorBlue: var(--darkBlue);
  //use for tab button
  --tabBg:var(--lightGray);
  --tabBtn: var(--btnActive);
}



//tab button
.statementTabWrap{
  background: var(--tabBg);
  .btnTab{
    color: var(--text-colorSecond);
  }
  .activeTab{
    .btnTab{
      background: var(--tabBtn);
      color: var(--text-colorSecond);
    }   
    }
}


.custom_pills_wrap{
  .custom_pills{
    height: 18px;
    width: 53px;
  }
}
